<h1>
  {{title}}
</h1>
<div class="ta-md-demo-container">
  <md-checkbox
    class="example-margin"
    [checked]="checked"
    [indeterminate]="indeterminate"
    [align]="align"
    [disabled]="disabled">
    I'm a checkbox
  </md-checkbox>
</div>
<div class="ta-md-demo-container">
  <form>
    <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
      <md-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </md-option>
    </md-select>

    <p> Selected value: {{selectedValue}} </p>
  </form>
</div>

<div flex class="tg-demo-content" layout="row" layout-align="start" >
  <router-outlet></router-outlet>
</div>
